* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(#EDD83D,#EAF5CC)
}

.navbar{
    background-color: #7DC05D;
    color: #04003D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.navbar h3 span{
    color: #ECD632;
    font-size: 150%;
    -webkit-filter: brightness(95%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.navbar h3 span:hover{
    -webkit-filter: brightness(100%)
}

.header{
    color: black;
    font: Tahoma;
    font-size: 150%;
    margin: 1px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    position: static;
}
.header:hover{
    font-size: 175%;
    transition: .5s;
}

.image {
    width: 30%;
    border-radius: 11px;
    cursor: pointer;
}

.image:hover{
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.navbar ul li{
    color: #04003D;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    position: static;
}

.navbar ul li a{
    color: #04003D;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar ul li a:hover{
    transform: scale(1.2);
    background-color: #EFDE57;
    color: #04003D;
    transition: .4s;
    -webkit-filter: brightness(100%);
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}

.introduccion{
    position: static;
    top: 50%;
    left: 8%;
    width: 1130px;
    margin: 0 auto;
    justify-content: space-around;
}

.on_image{
    font-size: 125%;
    padding: 15px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.under_image{
    font-size: 170%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h6{
    padding: 25px 25px;
    background: #EDD83D;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
}

.under_image i{
    font-size: 250%;
}

.about{
    font-weight: bold;
    max-width: 90%;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F1E16A ;
    border-radius: 15px;
    padding: 10px;
}