* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(#030C12,#3C9DE2)
}

.navbar{
    background-color: #051723;
    color: #04003D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.navbar ul li{
    color: #04003D;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    position: static;
}

.navbar ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.sp:hover{
    transform: scale(1.2);
    background-color: #1ED760;
    color: #000000;
    transition: .4s;
    -webkit-filter: brightness(110%);
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 1px #1ED760)
}

.ig:hover{
    text-shadow: 1px 1px 1px #030C12;
    transform: scale(1.2);
    background: radial-gradient(circle farthest-corner at 35% 90%, #ffc155, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #ffba43, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #444bce, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #3e45d1, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #7f25c4, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #7f29c2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d81d6e, transparent), linear-gradient(#4739c7, #be1e8c 30%, #e0264b 50%, #ee6a2c 70%, #ffb949 100%);
    color: white;
    transition: .4s;
    -webkit-filter: brightness(110%);
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    filter: drop-shadow(1px 2px 1px #ffb949)
            drop-shadow(2px 2px 2px #e0264b);
}   

.tk:hover{
    transform: scale(1.2);
    background-color: black;
    transition: .4s;
    -webkit-filter: brightness(110%);
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px #FD3E3E) 
            drop-shadow(-2px -2px .5px #4DE8F4);
}

.navbar h3{
    color: white;
}
.navbar h3 span{
    color: #FDBA30;
    font-size: 150%;
    font-weight: bold;
}

.navbar h3 span:hover{
    text-shadow: 0 0 20px #fdb9303b, 0 0 30px #fdb9303b;
    transition: .5s;
    cursor: pointer;
}

.content{
    padding: 63px 40px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: static;
    width: 1130px;
    margin: 0 auto;
    justify-content: stretch;
    align-items: center;
}

.content h1{
    color: beige;
    text-shadow: 0 0 5px black, 0 0 5px black;
    font: Tahoma;
    font-size: 300%;
    width: 100%;
    position: static;
    text-align: left;
    filter: drop-shadow(1px 1px 1px rgba(19, 23, 82, 0.37))
}
.content h1:hover{
    font-size: 320%;
    text-shadow: 0 0 20px black, 0 0 50px black;
    transition: .9s;
}

.content .baa:hover{

    color: #ff4242;
    text-shadow: 0 0 20px black, 0 0 50px black;
    transition: .9s;
}

.content .ba:hover{

    color: #7834ff;
    text-shadow: 0 0 20px black, 0 0 50px black;
    transition: .9s;
}

.content h4{
    color: white;
    max-width: 80%;
    text-align: left;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 10px rgba(10, 12, 44, 0.37))
}

.front{

    padding-left: -200px;
}

.image {
    width: 33%;
    border-radius: 11px;
    cursor: pointer;
    align-items: center;
}

.image:hover{
    /* border-radius: 13;
    background: rgba (255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px); */
    box-shadow:
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737,
    7px 7px #373737;
    transform: translateX(-3px);
    transition: .5s ease;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 25px 25px;
    background: #7CB6DE;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 13;
    background: rgba (255, 255, 255, 0.37);
    box-shadow: 8px 8px 15px 5px rgba(19, 23, 82, 0.37);
    backdrop-filter: blur(20px);
}
.card i{
    margin-top: 20px;
    font-size: 50px;
    filter: drop-shadow(1px 1px 1px rgba(19, 23, 82, 0.37))

}
.card h5{
    margin-top: 20px;
    line-height: 20px;
}
