* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(#EDD83D,#EAF5CC)
}

.navbar{
    background-color: #7DC05D;
    color: #04003D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.navbar h3 span{
    color: #ECD632;
    font-size: 150%;
}

.header{
    color: black;
    font: Tahoma;
    font-size: 150%;
    margin: 1px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    position: static;
}
.header:hover{
    font-size: 175%;
    transition: .5s;
}

.image {
    width: 30%;
    border-radius: 11px;
    cursor: pointer;
}

.navbar ul li{
    color: #04003D;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    position: static;
}

.navbar ul li a{
    color: #04003D;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar ul li a:hover{
    transform: scale(1.2);
    background-color: #EFDE57;
    color: black;
    transition: .4s;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
}

.introduccion{
    position: static;
    top: 50%;
    left: 8%;
    width: 1130px;
    margin: 0 auto;
    justify-content: space-around;
}

.on_image{
    font-size: 125%;
    padding: 15px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.under_image{
    font-size: 170%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h6{
    padding: 25px 32px;
    background: #EDD83D;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
}

.under_image i{
    font-size: 250%;
}

.about{
    font-weight: bold;
    max-width: 90%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F1E16A ;
    border-radius: 15px;
    padding: 10px;
}